$opensans-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$base-trans-d: 0.3s;

$screen-mobile-min: 320px;
$screen-mobile-max: 767px;
$screen-tablet-min: 768px;
$screen-tablet-max: 1919px;
$screen-desktop-min: 1920px;

$base-gray: #313131;
